{% extends 'admin/base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Liste des compétitions</h4>
                        <p class="card-description">
                            {{ competitions|length }} <code>competition(s)</code>
                        </p>
                        <p class="card-description">
                            <code>
                                <a href={{ path("ajoutCompetition") }} style="text-decoration:underline;color:#FF4747">Ajouter compétition</a>
                            </code>
                        </p>
                        <form method="POST">
                            <div class="form-group">

                                <div class="input-group-append">
                                    <button class="btn btn-sm btn-primary" type="submit"value="Search" type="button">Tri</button>
                                    <button type="button" class="btn btn-danger">
                                        <a href="{{ path('Lister')}}">
                                            PDF
                                        </a>
                                    </button>
                                </div>


                            </div>
                        </form>

                        <div class="row">
                            <div class="form-check-inline">
                                {{ form(form) }}
                            </div>
                            <div class="col-12">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>Nom</th>
                                            <th>Description</th>
                                            <th>Categorie</th>
                                            <th>Nombre de places</th>
                                            <th>Image</th>
                                            <th>Adresse</th>
                                            <th>date compétition</th>
                                            <th>ACTIONS</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for comp in competitions %}
                                            <tr>
                                                <td>{{ comp.nom }}</td>
                                                <td>{{ comp.description }}</td>
                                                <td>{{ comp.category }}</td>
                                                <td>{{ comp.nombreDePlace }}</td>
                                                <td>
                                                    <img src={{ comp.image}} style="height:70px;width:70px;" />
                                                </td>

                                                <td>{{ comp.adresse }}</td>

                                                <td>{{ comp.date|date('d-m-Y') }}</td>
                                                <td>
                                                    <label class="badge badge-warning">
                                                        <a href={{ path("modifCompetition", {'idComp': comp.id }) }} style="text-decoration:none;color:#fff;">MODIFIER</a>
                                                    </label>

                                                    <label class="badge badge-danger">
                                                        <a href={{ path("suppCompetition", { 'idComp': comp.id }) }} style="text-decoration:none;color:#fff;">SUPPRIMER</a>
                                                    </label>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                    {{ knp_pagination_render(competitions) }}

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}
