<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v4.1.1">
    <title> {% block title %} Tuneasy - 100% made in Tunisia {% endblock %} </title>
    <link rel="icon" type="image/png" href="front/assets/images/favicon.png">

    <!-- Bootstrap core CSS -->
    {% block css %}
    <link href="{{ asset('front/assets/css/tuneasy.css') }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('front/assets/css/animate.css') }}">
    <link rel="stylesheet" href="{{ asset('front/assets/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('front/assets/css/datepicker.min.css') }}">
    <link rel="stylesheet" href="{{ asset('front/assets/css/OverlayScrollbars.min.css') }}">
    <link rel="stylesheet" href="{{ asset('front/assets/css/fontawesome.css') }}">
    <link rel="stylesheet" href="{{ asset('front/assets/css/icofont.css') }}">
    <link rel="stylesheet" href="{{ asset('front/assets/css/icofont.css') }}">
    <link rel="stylesheet" href="{{ asset('front/assets/css/owl.theme.default.min.css') }}">
    <link rel="stylesheet" href="{{ asset('front/assets/css/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{ asset('front/assets/css/slick.css') }}">
    <link rel="stylesheet" href="{{ asset('front/assets/css/slick-theme.css') }}">
    <link rel="stylesheet" href="{{ asset('front/assets/css/slider-range.css') }}">
    <link rel="stylesheet" href="{{ asset('front/assets/css/select2.min.css') }}">
    <link rel="stylesheet" href="{{ asset('front/assets/css/tippy.css') }}">
    <link rel="stylesheet" href="{{ asset('front/assets/css/app.css') }}">
    <script src="http://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="http://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

    {% endblock %}
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <!-- Custom styles for this template -->

</head>
<body>

{{ include('includes/header.html.twig') }}

<section class="rt-banner-area">
{% block body %}
{% endblock %}
</section>

{{ include('includes/footer.html.twig') }}
</body>






{% block script %}
<script src="{{ asset('front/assets/js/jquery-2.2.4.min.js') }}"></script>
<script src="{{ asset('front/assets/js/popper.min.js') }}"></script>
<script src="{{ asset('front/assets/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('front/assets/js/moment.min.js') }}"></script>
<script src="{{ asset('front/assets/js/jquery.easing.1.3.js') }}"></script>
<script src="{{ asset('front/assets/js/imagesloaded.pkgd.min.js') }}"></script>
<script src="{{ asset('front/assets/js/isotope.pkgd.min.js') }}"></script>
<script src="{{ asset('front/assets/js/instafeed.min.js') }}"></script>
<script src="{{ asset('front/assets/js/waypoints.min.js') }}"></script>
<script src="{{ asset('front/assets/js/jquery.counterup.min.js') }}"></script>
<script src="{{ asset('front/assets/js/jquery.magnific-popup.min.js') }}"></script>
<script src="{{ asset('front/assets/js/jquery.scrollUp.min.js') }}"></script>
<script src="{{ asset('front/assets/js/owl.carousel.min.js') }}"></script>
<script src="{{ asset('front/assets/js/TweenMax.min.js') }}"></script>
<script src="{{ asset('front/assets/js/scrollax.min.js') }}"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3&amp;key=AIzaSyCy7becgYuLwns3uumNm6WdBYkBpLfy44k"></script>





<script src="{{ asset('front/assets/js/wow.js') }}"></script>

<script src="{{ asset('front/assets/js/jquery.overlayScrollbars.min.js') }}"></script>
<script src="{{ asset('front/assets/js/jquery-ui.js') }}"></script>
<script src="{{ asset('front/assets/js/jquery.appear.js') }}"></script>
<script src="{{ asset('front/assets/js/select2.min.js') }}"></script>
<script src="{{ asset('front/assets/js/slick.min.js') }}"></script>
<script src="{{ asset('front/assets/js/slider-range.js') }}"></script>
<script src="{{ asset('front/assets/js/vivus.min.js') }}"></script>
<script src="{{ asset('front/assets/js/tippy.all.min.js') }}"></script>
<script src="{{ asset('front/assets/js/app.js') }}"></script>



{% endblock %}
</html>