{% extends 'admin/base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <p class="card-title">Product Table</p>
                        <div class="row">
                            <div class="col-12">
                                <div class="table-responsive">
                                    <table id="example" class="display expandable-table" style="width:100%">
                                        <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Nom Produit</th>
                                            <th>image</th>
                                            <th>subtitle</th>
                                            <th>prix</th>
                                            <th>description</th>
                                            <th>categorie</th>
                                            <th>modifier</th>
                                            <th>supprimer</th>

                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr {% for p in product %}>
                                            <td>{{ p.id }}</td>
                                            <td>{{ p.name }}</td>
                                            <td> <img src="/upload/img/{{ p.image }}" alt="" class="img-fluid" height="50px"></td>
                                            <td>{{ p.subtitle }}</td>
                                            <td>{{ p.prix }}</td>
                                            <td>{{ p.description }}</td>
                                            <td>{{ p.category.name }}</td>
                                            <td><a href="{{ path('updateP',{'id': p.id }) }}">modifier</a> </td>

                                            <td><a href="{{ path('deleteP',{'id': p.id }) }}">Delete</a> </td>

                                        </tr {% endfor %}>

                                        </tbody>
                                    </table>
                                    {{ knp_pagination_render(product) }}

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}
